body {
  font-family: "Archivo Black", sans-serif;
}
.container {
  width: 90vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget {
  width: 40%;
  height: 70%;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.widget__inner {
  height: 100%;
}

.widget {
  border-radius: 10px;
}
.widget__inner {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.widget__content {
  height: 50%;
}
.widget__img {
  height: 60%;
  display: flex;
  justify-content: center;
}
img {
  display: block;
  height: 100%;
}
.widget__captions {
  display: flex;
  justify-content: center;
}
.widget__caption {
  font-size: 34px;
}

.widget__subtitle {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.widget__items {
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 222, 230, 0.3);
}
.widget__item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.widget__item-logo {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widget__item-content {
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-panel {
  width: 50%;
}

.search-btn {
  width: 100%;
}

.search-panel__inner {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.message-block {
  position: fixed;
  left: 50%;
  top: -20%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 166, 154);
}

.message-block--active {
  animation: 1s ease-in-out showMessage;
  top: 20%;
}

@keyframes showMessage {
  from {
    top: -20%;
  }
  to {
    top: 20%;
  }
}

/*Spinner styles*/
@keyframes ldio-xg0aivnxjl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-xg0aivnxjl > div > div {
  position: absolute;
  border-radius: 50%;
}
.ldio-xg0aivnxjl > div > div:nth-child(1) {
  top: 30px;
  left: 30px;
  width: 140px;
  height: 140px;
  background: #26a69a;
}
.ldio-xg0aivnxjl > div > div:nth-child(2) {
  top: 39.800000000000004px;
  left: 79px;
  width: 42px;
  height: 42px;
  background: #46dff0;
  animation: ldio-xg0aivnxjl 1s linear infinite;
  transform-origin: 21px 60.199999999999996px;
}
.loadingio-spinner-disk-7ehj4lp0rj {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
}
.ldio-xg0aivnxjl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xg0aivnxjl div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
